/* Font */
$code-font: 'Roboto Mono', monospace;
$font-family: 'Inter', sans-serif;

$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

/* Colors */
$background-color: #212830;
$background-secondary-color: #171C22;
$foreground-color: #ffffffe6;
$foreground-secondary-color: #ffffff99;
$accent-color-dark: #1E3D5C;
$accent-color-light: #4985C1;
$text-color: #ffffffcc;

/* Other */
$radius: 8px;