---
import Banner from "../components/Banner.astro";
import Hero from "../components/Hero.astro";
import Spacer from "../components/Spacer.astro";
import Tag from "../components/Tag.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Weekly Problem | Status 418" description="">
	<!-- Hero -->
	<Hero upper="Weekly Problem" title="Mutlock">
		<Tag type="border" color="#058F00" text="Crypto" />
	</Hero>

	<!-- Banner -->
	<Banner
		icon="archive"
		text="Download Problem"
		url="/problems/mutlock.zip"
	/>
	<Spacer />

	<!-- Text -->
	<section>
		<p>
			I have developed a new and amazing encryption technique to secure my
			most precious secret. You will never be able to break it!
		</p><br />
		<p>And don't say it three times.</p>
	</section>
</Layout>
