---
import { Icon } from "astro-icon/components";

interface Props {
  text: string;
  url: string;
}

const { text, url } = Astro.props;
---

<section>
  <a href={url}>
    <div class="left">
      <Icon name="discord" />
      <p class="emphasis">{text}</p>
    </div>
    <div class="right">
      <Icon name="chevron" />
    </div>
  </a>
</section>

<style lang="scss">
  @use "../styles/variables" as *;

  section {
    display: block;
  }

  [data-icon="discord"] {
    width: 64px;
    height: 64px;
    fill: $foreground-color;
  }

  a {
    background: $background-secondary-color;
    justify-content: space-between;
    border-radius: $radius;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    display: flex;

    color: inherit;
  }

  a:hover .right {
    margin-right: 16px;
  }

  div {
    flex-direction: row;
    align-items: center;
    display: flex;
    gap: 16px;
  }

  .right {
    margin-right: 24px;
    transition: 0.1s;
  }
</style>
