---
import type { TagType } from "../util/tags";

interface Props {
  target?: string;
  type?: TagType;
  text: string;
  url?: string;
}

const { type = "fill", text, url, target } = Astro.props;
const textColor = type == "border" ? "#4985C1" : "inherit";
const borderColor = type == "border" ? "#4985C1" : "transparent";
const backgroundColor = type == "border" ? "transparent" : "#1E3D5C";
---

<a class="wrapper" href={url} target={target}>
  {text}
</a>

<style lang="scss" define:vars={{ textColor, borderColor, backgroundColor }}>
  @use "../styles/variables" as *;

  .wrapper {
    border: 3px solid var(--borderColor);
    background: var(--backgroundColor);
    display: inline-block;
    border-radius: 8px;
    padding: 12px 16px;

    font-weight: $font-weight-semibold;
    color: var(--textColor);
    line-height: 1rem;
    font-size: 1rem;

    -webkit-user-select: none;
    user-select: none;

    cursor: pointer;
  }
</style>
