---
import type { TagType } from "../util/tags";

interface Props {
  type: TagType;
  text: string;
  url?: string;
}

const { type, text, url } = Astro.props;
const textColor = type == "border" ? "#4985C1" : "inherit";
const background = type == "border" ? "transparent" : "#4985C1";
---

<a class="wrapper" href={url}>
  {text}
</a>

<style lang="scss" define:vars={{ textColor, background }}>
  @use "../styles/variables" as *;

  .wrapper {
    border: 3px solid $accent-color-light;
    background: var(--background);
    display: inline-block;
    border-radius: 8px;
    padding: 12px 16px;

    font-weight: $font-weight-semibold;
    color: var(--textColor);
    line-height: 1rem;
    font-size: 1rem;

    -webkit-user-select: none;
    user-select: none;

    cursor: pointer;
  }
</style>
