---

---

<div>
  <slot />
</div>

<style lang="scss">
  @use "../styles/variables" as *;

  div {
    border: 3px solid $accent-color-dark;
    border-radius: $radius;
    max-width: 100%;
    padding: 16px;
  }
</style>
