---
interface Props {
  url?: string;
}

const { url } = Astro.props;
---

<a class="card" href={url}>
  <slot />
</a>

<style lang="scss">
  @use "../styles/variables" as *;

  .card {
    border: 3px solid $accent-color-dark;
    border-radius: $radius;
    display: block;
    max-width: 100%;
    padding: 16px;

    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
  }

  .card:hover {
    border-color: $accent-color-light;
  }
</style>
