---
const year = new Date().getFullYear();
---

<section>
  <p>
    Last Updated in {year}<br />
    Halifax, NS<br />
    Canada
  </p>
</section>

<style lang="scss">
  @use "../styles/variables.scss" as *;

  p {
    color: $foreground-secondary-color;
    margin: 96px 0 48px 0;
    text-align: center;
  }
</style>
