---
import { Image } from "astro:assets";
// import Logo from "../assets/logo.png";
// import DalCTFLogo from "../assets/DalCTF_logo_glitch.png";
import DalCTFLogo from "../assets/DalCTF_logo_cleanW.png";
import Button from "./Button.astro";
import Dropdown from "./Dropdown.astro";

// Static pages to show in the header
// 
const pages = [
  // ["Home", "/"],
  // ["About", "/about"],
  // ["Weekly Problem", "/weekly-problem"],
  ["Writeups", "/writeups"],
  ["Competitions", "/competitions"],
];
---

<section>
  <a class="logo" href="/">
    <Image src={DalCTFLogo} alt="" loading={"eager"} width={64*4} height={96*4} style="object-fit: contain;" />
  </a>
  <div class="links">
    <!-- <div class="dropdown">
      <a href="#" class="dropdown-toggle" role="button">Weekly Problems <span class="arrow">▼</span></a>
      <ul class="dropdown-menu">
        <li><a href="/weekly-problem">This Weeks</a></li>
        <li><a href="/past-weekly-problems">Past Problems</a></li>
      </ul>
    </div> -->
    <Dropdown title="Weekly Problems" items={[
      { label: "This Week's Problem(s)", href: "/weekly-problem" },
      { label: "Past Problems", href: "/past-weekly-problems" },
    ]} />
    {pages.map((page) => <a href={page[1]}>{page[0]}</a>)}
    <Button
      url="https://discord.gg/4vEJJF6CQg"
      target="_blank"
      text="Join us!"
      type="border"
    />
  </div>
</section>

<style lang="scss">
  @use "../styles/variables" as *;

  section {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    display: flex;
  }

  .logo {
    width: 64px;
    height: 96px;
  }

  .logo *{
    width: 100%;
    height: 100%;
  }

  .links {
    align-items: center;
    display: flex;
    padding: 0px;
    gap: 16px;
  }

  .links a {
    color: $foreground-color;
  }

  @media screen and (max-width: $breakpoint-phone) {
    :global(.grid a:nth-child(n + 3)) {
      background: red;
      display: none;
    }

    section {
      flex-direction: column;
    }

    .links {
      margin-top: 24px;
    }
  }
</style>
