---
interface Props {
  upper?: string;
  title: string;
  subtitle?: string;
}

const { upper, title, subtitle } = Astro.props;
---

<section>
  {upper && <h3>{upper}</h3>}
  <h1>{title}</h1>
  {subtitle && <h3>{subtitle}</h3>}
  {
    !!Astro.slots.default && (
      <div>
        <slot />
      </div>
    )
  }
</section>

<style lang="scss">
  @use "../styles/variables" as *;

  section {
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    margin-top: 2em;
  }

  section * {
    max-width: 750px;
  }

  h3 {
    color: $foreground-secondary-color;
  }

  div {
    margin-top: 16px;
  }
</style>
