---
import { Competitions } from "../loaders/Competitions";
import Placement from "./Placement.astro";
import Preview from "./Preview.astro";

const competitions = (await Competitions.shared.list())
  .toSorted((a, b) => b.dateEnd - a.dateStart)
  .splice(0, 3);
---

<Preview title="Latest Competitions" url="/competitions">
  <div>
    {
      competitions.map((competition) => (
        <Placement
          competition={competition.name}
          position={competition.place!}
          total={competition.total}
          id={competition.id}
        />
      ))
    }
  </div>
</Preview>

<style lang="scss">
  @use "../styles/variables" as *;

  div {
    flex-direction: column;
    display: flex;
    gap: 16px;
  }
</style>
