---
import { Competitions } from "../loaders/Competitions";
import { Writeups } from "../loaders/Writeups";
import { summary } from "../util/markdown";
import Card from "./Card.astro";
import Preview from "./Preview.astro";
import WriteupItem from "./WriteupItem.astro";

let writeups = await Writeups.shared.list();
const pairs = [];

for (let writeup of writeups) {
  const competition = await Competitions.shared.get(writeup.competition!);
  pairs.push({ writeup, competition });
}

pairs.sort(
  (a, b) =>
    b.competition.dateStart.getTime() - a.competition.dateStart.getTime(),
);

writeups = pairs.slice(0, 4).map((x) => x.writeup);
---

<Preview title="Latest Writeups" url="/writeups">
  <div class="grid">
    {
      writeups.map((writeup) => (
        <Card url={"/writeups/" + writeup.id}>
          <WriteupItem
            snippet={summary(writeup.raw).text}
            competitionId={writeup.competition!}
            title={writeup.title}
            tags={writeup.tags}
            preview={true}
          />
        </Card>
      ))
    }
  </div>
</Preview>

<style lang="scss">
  @use "../styles/variables" as *;

  .grid {
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    grid-auto-rows: 1fr;
    display: grid;
    gap: 16px;
  }

  @media screen and (max-width: $breakpoint-tablet) {
    :global(.grid a:nth-child(n + 3)) {
      display: none;
    }

    .grid {
      grid-template-columns: 1fr;
    }
  }
</style>
