---
import { Icon } from "astro-icon/components";

interface Props {
  competition: string;
  position: number;
  total: number;
  link?: boolean;
  id: string;
}

const { id, competition, total, position, link = true } = Astro.props;

function ordinal(n: number) {
  var s = ["th", "st", "nd", "rd"];
  var v = n % 100;
  return n + (s[(v - 20) % 10] || s[v] || s[0]);
}

const showTop5 = position / total <= 0.05;
const showTop10 = !showTop5 && position / total <= 0.1;
---

<a href={link ? "/competitions/" + id : undefined}>
  <div class="left">
    <p class="emphasis">{competition}</p>
  </div>
  <div class="right">
    {showTop5 && <Icon name="top-5" />}
    {showTop10 && <Icon name="top-10" />}
    <div>
      <p class="position">{ordinal(position)}</p>
      <p>/</p>
      <p class="total">{total}</p>
    </div>
  </div>
</a>

<style lang="scss">
  @use "../styles/variables" as *;

  a {
    background: $background-secondary-color;
    justify-content: space-between;
    border-radius: $radius;
    flex-direction: row;
    align-items: center;
    padding: 16px 32px;
    display: flex;
    height: 72px;

    color: inherit;
  }

  div {
    flex-direction: row;
    align-items: center;
    display: flex;
  }

  [data-icon] {
    color: $accent-color-light;
    height: 24px;
    width: 24px;
    margin-right: 8px;
  }

  .right {
    div {
      justify-content: flex-end;
      min-width: 150px;
    }

    p {
      color: $foreground-secondary-color;
      font-weight: $font-weight-semibold;

      &.position {
        font-size: 1.5rem;
        margin-right: 16px;
        color: $foreground-color;
      }

      &.total {
        margin-left: 8px;
      }
    }
  }
</style>
