---
interface Props {
  type: "fill" | "border";
  color: "red" | "green" | "blue" | "orange" | "yellow";
  text: string;
  url?: string;
}

const { type, color, text, url } = Astro.props;

const colorMap = {
  red: "#E01A00",
  blue: "#0090FF",
  green: "#058F00",
  orange: "#FF9000",
  yellow: "#D1B800",
};

const tagColor = colorMap[color];
const textColor = type == "border" ? tagColor : "inherit";
const background = type == "border" ? "transparent" : tagColor;
---

<a href={url}>
  <p>{text}</p>
</a>

<style lang="scss" define:vars={{ tagColor, textColor, background }}>
  @use "../styles/variables" as *;

  a {
    border: 2px solid var(--tagColor);
    background: var(--background);
    display: inline-block;
    border-radius: 16px;
    padding: 0 8px;
    color: inherit;
  }

  p {
    font-weight: $font-weight-medium;
    color: var(--textColor);
    line-height: 1.5rem;
    font-size: 0.75rem;
  }
</style>
