---
import type { TagType } from "../util/tags";

interface Props {
  type: TagType;
  color: string;
  text: string;
  url?: string;
}

const { type, color, text, url } = Astro.props;
const textColor = type == "border" ? color : "inherit";
const background = type == "border" ? "transparent" : color;
---

{
  (url && (
    <a class="wrapper" href={url}>
      {text}
    </a>
  )) || <p class="wrapper">{text}</p>
}

<style lang="scss" define:vars={{ color, textColor, background }}>
  @use "../styles/variables" as *;

  .wrapper {
    border: 2px solid var(--color);
    background: var(--background);
    display: inline-block;
    border-radius: 16px;
    padding: 0 8px;

    font-weight: $font-weight-medium;
    color: var(--textColor);
    line-height: 1.5rem;
    font-size: 0.75rem;
  }
</style>
