---
import Tag from "./Tag.astro";

interface Props {
  title: string;
  upper: string;
  snippet: string;
  tags: string[];
}

const { title, upper, snippet, tags } = Astro.props;
---

<>
  <span>{upper}</span>
  <h2>{title}</h2>
  <div>
    {tags.map((tag) => <Tag text={tag} color="green" type="border" />)}
  </div>
  <p>{snippet}</p>
</>

<style lang="scss">
  @use "../styles/variables" as *;

  span {
    color: $foreground-secondary-color;
  }

  h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    display: block;
  }

  div {
    margin-top: 8px;
  }

  p {
    margin-top: 16px;
  }
</style>
