---
import Preview from "../Preview.astro";
import Ranking from "../Ranking.astro";

const rankings = [
  {
    competition: "HTB University CTF 2024: Binary Badlands",
    position: 141,
    total: 872,
  },
  {
    competition: "World Wide CTF",
    position: 26,
    total: 581,
  },
  {
    competition: "CyberSci Regional Qualifiers 2024-25",
    position: 27,
    total: 80,
  },
];
---

<Preview title="Latest Rankings" url="#">
  <div>
    {
      rankings.map((ranking) => (
        <Ranking
          competition={ranking.competition}
          position={ranking.position}
          total={ranking.total}
        />
      ))
    }
  </div>
</Preview>

<style lang="scss">
  @use "../../styles/variables" as *;

  div {
    flex-direction: column;
    display: flex;
    gap: 16px;
  }
</style>
